<div class="modal fade" id="autoSFTPModal" tabindex="-1" role="dialog" aria-labelledby="autoSFTPModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="autoSFTPModalLabel">AutoSFTP Integration</h4>
      </div>
      <div class="modal-body">
        This feature still requires <a href="mailto:best@marchex.com">BEST</a> involvement since it requires
        a deploy to a production server. Additionally, misconfiguration here can cause production monitors to
        trip.
      </div>
    </div>
  </div>
</div>