<div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="activityModalModalLabel">JSON Posting</h4>
      </div>
      <div class="modal-body">
        This is an experimental feature and the format is presently designed specifically for a tool used
        by BEST. In the future we may abstract this to make dynamic webhooks but for now you should probably ignore it.
      </div>
    </div>
  </div>
</div>