<%# This is the view for the 'asqs/ajax/:id' route. Currently only set up to display one param.%>
<%# NOTE: please keep the html content smushed between the HTML tags, otherwise the javascript will pull it out with spaces on either end of the value.%>
<%= "<div class= #{@attribute_name}>#{@attribute}</div>".html_safe %>