<% provide(:title, 'Home') %>
<div class="jumbotron">
  <span>
    <h1>Welcome to Asq!</h1>
    <p>Delivering <span title="Get it?">Automated SQL Queries</span> since 2015.</p>

    <center><div id="tagcloud" style="width: 100%; height: 150px;"></div></center>
  </span>

</div>

