{
    "rules": {
        "indent": [
            2,
            2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-use-before-define": [
            2, 
            "nofunc"
        ],
        "no-var": [
            0
        ]
    },
    "env": {
        "browser": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "extends": "airbnb/base"
}
