/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib../fonts/stylesheets, vendor../fonts/stylesheets,
 * or vendor../fonts/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jqcloud
 *= require_self
 *= require_tree .
 */

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bs-callout-warning {
background-color: #fefbed;
border-color: #f1e7bc;
}

.asq-settings {
  width: 33%;
}
